<p>
  Congratulations Fellow Gnomster!
  <br/>
  A<b>comment</b>has just been added to the Gnomster you told us about. You can check it out at
  <%= link_to 'here', place_url(@place) %>. Keep on exploring!
  <br/>
  Regards,
  <br/>
  The Gnomster Team

</p>
