<p>
  Fellow Gnomster!
  <br/>
  <br/>
  A comment has been posted on Gnomster. Check it out and keep exploring the great big world out there. Of course, make sure to tell us all about it!
  <br/>
  <br/>
  Boom-Schokolade,
  <br/>
  <br/>
  The Gnomster Team
</p>
