<p>
  Congratulations Fellow Gnomster!
  <br/>
  A comment has just been added to the Gnomster you told us about. You can check it out!
  <%= place_url(@place) %>
  Keep on exploring!
  <br/>
  Regards, The Gnomster Team

</p>
