@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

@import "bootstrap-sprockets";
@import "bootstrap";


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fbfbf4;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}


body {
  background: url('/assets/satinweave.png');
  font-family: "Varela Round", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif",
  Georgia, serif;
  color: #020202;
}

h1 {
  font-family: "Passion One", "Helvetica", "san-serif";
  color: #ff0065;
}

h5 {
  font-family: "Fredoka One", "Arial", "san-serif";
  color: #FFCC11;
}

p {
  font-family: "Bitter", "Georgia", "serif";
  color: #99cccc;
}

a {
  color: #99cccc;
}

.navbar.navbar-inverse {
  //background:url('/assets/triad.png');
  background-color: #ff0065;
  border-radius: 0px;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #fbfbf4;
  font-family: "Fredoka One";
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFCC11 !important;
}

.navbar-link {
  color: #000000;
}

.nav.navbar-nav.navbar-right {
  color: #FFCC11;
}

.navbar-brand {
  font-size: 30px;
}

.pages a {
  color: #ff0065;
  text-decoration: none;
}

.has-error {
  color: #ff3333;
  background-color: #ff6a6a;
  border-radius: 3px;
  padding: 8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

.glyphicon {
  font-size: 24px;
}

.glyphicon.glyphicon-remove {
  color: #ff0065;
}

.glyphicon.glyphicon-ok {
  color: #ff0065;
}

.glyphicon.glyphicon-comment {
  color: #ff0065;
}

.glyphicon.glyphicon-trash {
  color: #ff0065;
}

.glyphicon.glyphicon-pencil {
  color: #ff0065;
}

.glyphicon.glyphicon-user {
  font-size: 30px
}

.title {
  color: #ff0065;
  &:hover {
    color: #27546e;
  }
}

.btn.btn-success {
  background-color: #ff0065;
  border: none;
}

.comment-color {
  color: #99cccc;
}



blockquote {
  background: #fbfbf4;
  border-left: 10px solid #FFCC11;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ff0065;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
