@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

@import "bootstrap-sprockets";
@import "bootstrap";


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #f2f3f4;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: url('/assets/pw_pattern.png');
  font-family: "Varela Round", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif",
  Georgia, serif;
  color: #020202;
}

h1 {
  font-family: "Passion One", "Helvetica", "san-serif";
  color: #e30074;
}

h5 {
  font-family: "Fredoka One", "Arial", "san-serif";
  color: #e30074;
}

p {
  font-family: "Bitter", "Georgia", "serif";
  color: #86becb;
}

.navbar.navbar-inverse {
  //background:url('/assets/triad.png');
  background-color: #e30074;
  border-radius: 0px;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #000000;
  font-family: "Fredoka One";
}

.pages a {
  color: #e30074;
  text-decoration: none;
}

.has-error {
  color: #ff3333;
  background-color: #ff6a6a;
  border-radius: 3px;
  padding: 8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

.glyphicon {
  font-size: 24px;
}

.glyphicon.glyphicon-remove {
  color: #e30074;
}

.glyphicon.glyphicon-ok {
  color: #e30074;
}

.glyphicon.glyphicon-comment {
  color: #e30074;
}

.glyphicon.glyphicon-trash {
  color: #e30074;
}

.glyphicon.glyphicon-pencil {
  color: #e30074;
}

.title {
  color: #e30074;
  &:hover {
    color: #468499;
  }
}

.btn.btn-success {
  background-color: #e30074;
  border: none;
}
